.store-cart {
  h2 {
    font-size: 16px;
    color: black;
    margin-top: 18px;
    font-weight: 600;
  }

  .product-title {
    font-size: 16px;
    color: black;
    margin-top: 15px;
  }

  .product-subtitle {
    font-size: 14px;
    color: gray;
  }

  .table-cart {
    margin-left: -15px;
    margin-right: -15px;

    th {
      font-weight: 200;
    }

    .cart-image {
      border-radius: 8px;
      max-height: 85px;
    }

    .btn-remove-cart {
      margin-top: 18px;

      @include button-variant(purple, transparent);
    }
  }
}
