.page-details {
  h5 {
    font-weight: normal;
    font-size: 18px;
    color: black;
  }

  .store-gallery {
    margin-top: 20px;

    img {
      border-radius: 10px;
    }

    .thumbnail-image {
      margin-bottom: 20px;
      border: 2px solid transparent;

      &:hover,
      &.active {
        border: 2px solid purple;
      }
    }
  }

  .store-heading {
    margin-bottom: 10px;

    h1 {
      font-weight: normal;
      font-size: 24px;
      line-height: 36px;
      color: black;
      margin-bottom: 0px;
    }

    .owner {
      font-weight: normal;
      font-size: 14px;
      line-height: 21px;
      color: gray;
      margin-bottom: 8px;
    }

    .price {
      font-weight: 500;
      font-size: 18px;
      line-height: 27px;
      color: orangered;
      margin-bottom: 10px;
    }
  }

  .store-description {
    font-weight: normal;
    font-size: 16px;
    line-height: 180%;
    color: gray;
  }

  .store-review {
    .media {
      img {
        max-width: 50px;
      }
    }
    .media-body {
      font-weight: normal;
      font-size: 18px;
      line-height: 180%;
      color: gray;
      margin-bottom: 20px;

      h5 {
        font-weight: 500;
        font-size: 16px;
        color: black;
      }
    }
  }
}
