.page-success {
  .row-login {
    min-height: 75vh;
  }

  .section-success {
    h2 {
      font-size: 28px;
      font-weight: 200;
    }

    .btn-signup {
      @include button-variant(white, transparent);
      color: gray;
    }
  }
}
